# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [5]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [6]:
# Read CSV
cities_df=pd.read_csv("output_data.csv")
cities_df.head()

,Unnamed: 0,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,halvad,23.0167,71.1833,92.52,21,0,8.75,IN,1619366012
1,1,basco,20.4487,121.9702,75.94,75,100,17.05,PH,1619366013
2,2,kapaa,22.0752,-159.3190,73.40,78,75,13.80,US,1619366013
3,3,kununurra,-15.7667,128.7333,60.80,88,70,1.14,AU,1619366013
4,4,geraldton,-28.7667,114.6000,62.60,82,0,3.44,AU,1619366014

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [8]:
gmaps.configure(api_key=g_key)

In [13]:
# Configure heat map
locations = cities_df[["Latitude", "Longitude"]]
humidity = cities_df["Humidity"]
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=300,
                                 point_radius = 7)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [15]:
vacation_df=cities_df.loc[(cities_df["Max Temp"]<85)&(cities_df["Max Temp"]>=75)].dropna()
vacation_df

,Unnamed: 0,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
1,1,basco,20.4487,121.9702,75.94,75,100,17.05,PH,1619366013
7,7,hithadhoo,-0.6000,73.0833,83.41,66,47,4.52,MV,1619366015
8,8,vallenar,-28.5708,-70.7581,75.27,36,0,4.09,CL,1619366015
9,9,rikitea,-23.1203,-134.9692,77.32,75,80,7.85,PF,1619365928
10,10,iquitos,-3.7481,-73.2472,82.40,78,75,6.91,PE,1619365973
...,...,...,...,...,...,...,...,...,...,...
508,508,santa rosalia,17.4860,120.4348,75.00,74,0,4.29,PH,1619366064
509,509,ambon,-3.6954,128.1814,81.00,88,92,8.63,ID,1619366160
512,512,praia,14.9215,-23.5087,78.80,50,40,21.85,CV,1619366146
515,515,aden,12.7794,45.0367,82.76,82,76,16.62,YE,1619366161
519,519,daru,-9.0763,143.2092,77.43,87,100,4.23,PG,1619366162

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [16]:
hotel_df=vacation_df[["City", "Country", "Latitude", "Longitude"]].copy()
hotel_df["Hotel Name"]=""
hotel_df

              City Country  Latitude  Longitude Hotel Name
1            basco      PH   20.4487   121.9702
7        hithadhoo      MV   -0.6000    73.0833
8         vallenar      CL  -28.5708   -70.7581
9          rikitea      PF  -23.1203  -134.9692
10         iquitos      PE   -3.7481   -73.2472
..             ...     ...       ...        ...        ...
508  santa rosalia      PH   17.4860   120.4348
509          ambon      ID   -3.6954   128.1814
512          praia      CV   14.9215   -23.5087
515           aden      YE   12.7794    45.0367
519           daru      PG   -9.0763   143.2092

[129 rows x 5 columns]

In [21]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {
    "rankby": "distance",
    "type": "lodging",
    "key": g_key,
}
# use iterrows to iterate through pandas dataframe
for index, row in hotel_df.iterrows():


    Latitude=row['Latitude']
    Longitude=row['Longitude']

    # add keyword to params dict
    params['location'] = f'{Latitude},{Longitude}'

    # assemble url and make API request
    print(f"Retrieving Results for Index {index}")
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']
    
    try:        
        hotel_df.loc[index, 'Hotel Name'] = results[0]['name']
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")

Retrieving Results for Index 1
------------
Retrieving Results for Index 7
------------
Retrieving Results for Index 8
------------
Retrieving Results for Index 9
------------
Retrieving Results for Index 10
------------
Retrieving Results for Index 16
------------
Retrieving Results for Index 22
------------
Retrieving Results for Index 27
------------
Retrieving Results for Index 28
------------
Retrieving Results for Index 33
Missing field/result... skipping.
------------
Retrieving Results for Index 37
------------
Retrieving Results for Index 39
------------
Retrieving Results for Index 49
------------
Retrieving Results for Index 52
------------
Retrieving Results for Index 54
------------
Retrieving Results for Index 56
------------
Retrieving Results for Index 64
------------
Retrieving Results for Index 78
------------
Retrieving Results for Index 80
------------
Retrieving Results for Index 84
------------
Retrieving Results for Index 85
------------
Retrieving Results for Index 88
------------
Retrieving Results for Index 98
------------
Retrieving Results for Index 99
------------
Retrieving Results for Index 106
------------
Retrieving Results for Index 112
------------
Retrieving Results for Index 115
------------
Retrieving Results for Index 123
------------
Retrieving Results for Index 131
------------
Retrieving Results for Index 132
------------
Retrieving Results for Index 138
------------
Retrieving Results for Index 142
------------
Retrieving Results for Index 150
------------
Retrieving Results for Index 152
------------
Retrieving Results for Index 154
------------
Retrieving Results for Index 155
Missing field/result... skipping.
------------
Retrieving Results for Index 156
------------
Retrieving Results for Index 162
Missing field/result... skipping.
------------
Retrieving Results for Index 170
------------
Retrieving Results for Index 174
------------
Retrieving Results for Index 184
------------
Retrieving Results for Index 188
Missing field/result... skipping.
------------
Retrieving Results for Index 196
------------
Retrieving Results for Index 198
------------
Retrieving Results for Index 200
------------
Retrieving Results for Index 201
Missing field/result... skipping.
------------
Retrieving Results for Index 202
Missing field/result... skipping.
------------
Retrieving Results for Index 209
------------
Retrieving Results for Index 210
------------
Retrieving Results for Index 219
------------
Retrieving Results for Index 231
------------
Retrieving Results for Index 233
------------
Retrieving Results for Index 238
------------
Retrieving Results for Index 240
------------
Retrieving Results for Index 244
------------
Retrieving Results for Index 246
------------
Retrieving Results for Index 248
------------
Retrieving Results for Index 250
------------
Retrieving Results for Index 253
------------
Retrieving Results for Index 257
------------
Retrieving Results for Index 259
------------
Retrieving Results for Index 267
------------
Retrieving Results for Index 270
------------
Retrieving Results for Index 273
------------
Retrieving Results for Index 275
------------
Retrieving Results for Index 276
------------
Retrieving Results for Index 277
------------
Retrieving Results for Index 278
------------
Retrieving Results for Index 280
------------
Retrieving Results for Index 284
------------
Retrieving Results for Index 288
------------
Retrieving Results for Index 290
------------
Retrieving Results for Index 291
------------
Retrieving Results for Index 293
------------
Retrieving Results for Index 301
------------
Retrieving Results for Index 305
------------
Retrieving Results for Index 308
------------
Retrieving Results for Index 313
------------
Retrieving Results for Index 320
------------
Retrieving Results for Index 331
------------
Retrieving Results for Index 340
------------
Retrieving Results for Index 349
------------
Retrieving Results for Index 350
------------
Retrieving Results for Index 353
------------
Retrieving Results for Index 358
------------
Retrieving Results for Index 364
------------
Retrieving Results for Index 366
------------
Retrieving Results for Index 369
------------
Retrieving Results for Index 370
------------
Retrieving Results for Index 373
------------
Retrieving Results for Index 378
------------
Retrieving Results for Index 381
------------
Retrieving Results for Index 383
------------
Retrieving Results for Index 385
------------
Retrieving Results for Index 390
------------
Retrieving Results for Index 393
------------
Retrieving Results for Index 398
------------
Retrieving Results for Index 403
------------
Retrieving Results for Index 410
------------
Retrieving Results for Index 411
------------
Retrieving Results for Index 412
------------
Retrieving Results for Index 413
------------
Retrieving Results for Index 423
------------
Retrieving Results for Index 430
------------
Retrieving Results for Index 432
------------
Retrieving Results for Index 433
------------
Retrieving Results for Index 434
------------
Retrieving Results for Index 436
------------
Retrieving Results for Index 437
------------
Retrieving Results for Index 441
------------
Retrieving Results for Index 446
------------
Retrieving Results for Index 447
Missing field/result... skipping.
------------
Retrieving Results for Index 456
------------
Retrieving Results for Index 459
------------
Retrieving Results for Index 471
------------
Retrieving Results for Index 476
------------
Retrieving Results for Index 483
------------
Retrieving Results for Index 484
------------
Retrieving Results for Index 493
------------
Retrieving Results for Index 494
------------
Retrieving Results for Index 495
------------
Retrieving Results for Index 501
------------
Retrieving Results for Index 502
------------
Retrieving Results for Index 504
------------
Retrieving Results for Index 508
------------
Retrieving Results for Index 509
------------
Retrieving Results for Index 512
------------
Retrieving Results for Index 515
------------
Retrieving Results for Index 519
------------

In [22]:
hotel_df

,City,Country,Latitude,Longitude,Hotel Name
1,basco,PH,20.4487,121.9702,Batanes Seaside Lodge Annex
7,hithadhoo,MV,-0.6000,73.0833,Sahibaan
8,vallenar,CL,-28.5708,-70.7581,Humacao Bed & Breakfast
9,rikitea,PF,-23.1203,-134.9692,Pension Maro'i
10,iquitos,PE,-3.7481,-73.2472,Marfil Del Amazonas MDA
...,...,...,...,...,...
508,santa rosalia,PH,17.4860,120.4348,The Mansion
509,ambon,ID,-3.6954,128.1814,Airy Lapangan Merdeka Ambon Wem Reawaru 7B
512,praia,CV,14.9215,-23.5087,Hotel Santa Maria
515,aden,YE,12.7794,45.0367,محلات فدعق التجارية للاقمشة والجلابيات
519,daru,PG,-9.0763,143.2092,Daru Lodge

In [26]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [27]:
# Add marker layer ontop of heat map
marker_layer=gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))